@charset "UTF-8";
/* VARIABLES */
/* maps */
/* EXTEND 
%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
};*/
/*MIXIN*/
.cabecera {
  height: fit-content;
  align-items: center;
  background-image: url("../imagenes/fondo-header-footer.svg");
  background-size: cover;
  background-position: center; }
  .cabecera__logo {
    height: 30px;
    margin: 20px 1rem; }
  .cabecera .navbar-toggler {
    border-color: transparent; }
    .cabecera .navbar-toggler:focus {
      box-shadow: 0 0 0 0.10rem; }
  .cabecera .navbar-collapse {
    flex-grow: unset; }
  .cabecera__menu {
    align-items: center;
    margin: 0; }
    .cabecera__menu-item {
      list-style-type: none;
      font-size: 14px;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      margin: 15px;
      padding: 7px;
      transition: transform 1s, border 1s; }
      .cabecera__menu-item:hover {
        transform: scale(1.1);
        animation-duration: 3s; }

.contenido__info {
  height: fit-content;
  margin-top: 50px; }

.contenido__titulo {
  font-family: "Aclonica", sans-serif;
  font-weight: 600;
  font-size: 48px; }
  .contenido__titulo-trabajos {
    font-family: "Aclonica", sans-serif;
    margin: 80px 0px 50px 0px;
    font-weight: 600;
    font-size: 48px;
    display: flex;
    justify-content: center; }

.contenido__principal {
  display: flex;
  flex-direction: column; }
  .contenido__principal--contacto {
    flex-direction: row;
    justify-content: center; }

.contenido__secundario {
  display: flex;
  justify-content: space-around; }

.contenido__subtitulos {
  display: flex;
  justify-content: center;
  margin: 0px 0px 20px 0px;
  font-family: "Aclonica", sans-serif;
  font-size: 24px; }
  .contenido__subtitulos--sobremi {
    font-family: "Aclonica", sans-serif;
    font-size: 24px; }

.contenido__skills {
  margin: 50px 0; }

.contenido__titulos-fotos,
.contenido__lista {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  list-style-type: circle; }

.contenido__texto {
  color: black;
  margin: 20px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

.contenido__texto-trabajos {
  color: black;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0px 70px 50px 0; }

.contenido__imagen {
  display: flex;
  justify-content: center;
  margin: 50px 0; }
  .contenido__imagen-foto {
    max-width: 400px; }
  .contenido__imagen-trabajos {
    width: 100%; }

.contenido__link {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-decoration: underline;
  margin: 5px 70px;
  padding: 10px;
  font-weight: 600; }

.contenido__boton {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline; }

.contenido__formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 3px solid black;
  height: 500px;
  max-width: 400px;
  padding: 10px 0;
  margin: 50px 0; }
  .contenido__formulario-campo {
    background-color: #F8F1F1;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0; }
    .contenido__formulario-campo:focus {
      background-color: #F8F1F1;
      border: none;
      border-bottom: 2px solid black;
      border-radius: 0;
      box-shadow: none; }
  .contenido__formulario-label {
    font-family: "Aclonica", sans-serif; }
  .contenido__formulario-descripcion {
    font-family: "Montserrat", sans-serif; }
  .contenido__formulario-consulta {
    background-color: #F8F1F1;
    border: 2px solid black;
    border-radius: 0; }
    .contenido__formulario-consulta:focus {
      background-color: #F8F1F1;
      border: 2px solid black; }

.contenido__destellos {
  width: 60px; }

.logoAnimado {
  width: 80px;
  animation-name: rotarLogo;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-delay: 1s;
  position: absolute;
  z-index: 1; }

/* ANIMACIÓN ICONO GIRATORIO*/
@keyframes rotarLogo {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(45deg); }
  50% {
    transform: rotate(90deg); }
  75% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

.footer {
  align-items: center;
  min-height: 100px;
  justify-content: center;
  background-image: url("../imagenes/fondo-header-footer.svg");
  background-size: cover;
  background-position: center; }
  .footer__contacto, .footer__derechos {
    margin: 10px 20px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500; }
  .footer__redes {
    margin: 10px 0;
    justify-content: center;
    align-items: center; }
    .footer__redes-item {
      list-style-type: none; }
    .footer__redes-logo {
      height: 30px; }

.fondo {
  background-color: #F8F1F1;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

* {
  margin: 0%;
  padding: 0%; }

a,
a:hover {
  text-decoration: none;
  color: black; }
