.footer {
    align-items: center;
    min-height: 100px;
    justify-content: center;
    background-image: url("../imagenes/fondo-header-footer.svg");
    background-size: cover;
    background-position: center;

    &__contacto,
    &__derechos {
        margin: 10px 20px;
        font-size: map-get($tamaño-tipografia , "letra-chica");
        font-family: $tipografia-textos;
        font-weight: map-get($grosor-tipografia , "medium");
    };
    
    &__redes {
        margin: 10px 0;
        justify-content: center;
        align-items: center;

        &-item {
            list-style-type: none;
        }

        &-logo {
            height: 30px;
        }
    };
}

