.cabecera {
    height: fit-content;
    align-items: center;
    background-image: url("../imagenes/fondo-header-footer.svg");
    background-size: cover;
    background-position: center;

    &__logo {
        height: 30px;
        margin: 20px 40px;
    }

    &__menu {
        align-items: center;
        margin: 0;

        &-item {
            list-style-type: none;
            font-size: map-get($tamaño-tipografia , "menu");
            font-family: $tipografia-textos;
            font-weight: map-get($grosor-tipografia , "semibold");

            @include margenes(15px, 7px);
            transition: transform 1s, border 1s;

            &:hover {
                transform: scale(1.1);
                animation-duration: 3s;
            }

            &-link:hover {
                color: $color-fondo;
            }
        };
    };
};