.cabecera {
    height: fit-content;
    align-items: center;
    background-image: url("../imagenes/fondo-header-footer.svg");
    background-size: cover;
    background-position: center;

    &__logo {
        height: 30px;
        margin: 20px 1rem;
        animation-name: rotarLogo;
        animation-iteration-count: infinite;
        animation-duration: 4s;
        animation-delay: 1s;
    }

    .navbar-toggler {
        border-color: transparent;

        &:focus {
            box-shadow: 0 0 0 0.10rem;
        }
    }

    .navbar-collapse {
        flex-grow: unset;
    }

    &__menu {
        align-items: center;
        margin: 0;

        &-item {
            list-style-type: none;
            font-size: map-get($tamaño-tipografia , "menu");
            font-family: $tipografia-textos;
            font-weight: map-get($grosor-tipografia , "semibold");

            @include margenes(15px, 7px);
            transition: transform 1s, border 1s;

            &:hover {
                transform: scale(1.1);
                animation-duration: 3s;
            }
        }
    }
}

/* ANIMACIÓN ICONO GIRATORIO*/
@keyframes rotarLogo {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(90deg);
    }

    75% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
